* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

.container {
  padding: 0 24px;
}

:root {
  --background-color: #ffffff;
  --main-color: #999999;
  --accent-color: #000000;
  --error-color: #ff7575;
  --input-color: #f9f9f9;
  --input-accent-color: #cccccc;
  --font-size-s: 16px;
  --font-size-m: 26px;
  --font-size-l: 40px;
  --font-size-xl: 64px;
  --main-font: "Jet", monospace;
  --accent-font: "Manege", serif;
}

h1 {
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: var(--font-size-xl);
}

h2 {
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: var(--font-size-m);
  line-height: 140%;
}

p {
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: var(--font-size-s);
  line-height: 150%;
}

a {
  color: var(--main-color);
}

.button {
  display: block;
  text-align: center;
  padding: 16px;
  background-color: var(--background-color);
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  line-height: 140%;
  font-family: var(--main-font);
  font-size: var(--font-size-s);
  text-decoration: none;
}

.a-a-v {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: var(--font-size-l);
  line-height: 130%;
}

.hero-main-content {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--accent-color);
  margin-block: 24px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 64px;
}

.hero-title-left {
  display: flex;
  align-self: flex-start;
  color: var(--main-color);
}

.hero-title-right .letter {
  color: var(--accent-color);
}

.img-1 {
  height: 440px;
  width: 342px;
  background-image: url("../assets/images/1.PNG");
  background-size: cover;
  background-position: center;
  margin-bottom: 64px;
}

.img-2 {
  margin-block: 64px;
  height: 547px;
  width: 342px;
  background-image: url("../assets/images/5.JPG");
  background-size: cover;
  background-position: center;
}

/* animation */

.word-changing-container {
  position: relative;
  width: 100%;
  font-family: var(--accent-font);
  font-size: var(--font-size-xl);
  line-height: 1;
  height: 1em;
  overflow: hidden;
  perspective: 1000px;
}

.word-changing {
  position: absolute;
  inset: 0;
  height: 100%;
  font: inherit;
  color: var(--background-color);
  text-transform: uppercase;
}

.word-layer {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
}

.letter-mask {
  display: inline-block;
  height: 1em;
  overflow: hidden;
}

.letter {
  display: inline-block;
  line-height: 1;
  will-change: transform;
}

/* info */

.info {
  padding-block: 64px;
  text-align: center;
}

.info-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* location */

.location {
  text-align: center;
}

.location-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 46px;
}

/* gallery */

.gallery {
  overflow: hidden;
}

.gallery-track {
  padding-top: 64px;
  display: flex;
  gap: 10px;
  width: max-content;
}

.gallery-image {
  height: 400px;
  width: 272px;
  object-fit: cover;
}

/* timer */

.timer-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 64px;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 46px;
  margin-top: 22px;
}

.timer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.timer-number {
  font-family: "Manege", serif;
  font-size: 64px;
  line-height: 1;
}

.timer-label {
  font-family: "Jet", monospace;
  font-size: 16px;
  color: #9c9c9c;
}

/* timing */

.timing {
  text-align: center;
}

.timing-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* dress-code */

.dress-code {
  padding-block: 64px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dress-code-colors {
  margin-top: 46px;
  display: flex;
  gap: 8px;
  max-width: 300px;
  flex-wrap: wrap;
  justify-content: center;
}

.dress-code-color {
  width: 70px;
  height: 70px;
}

.dress-code-color__1 {
  background-color: #6a696f;
}

.dress-code-color__2 {
  background-color: #97969c;
}

.dress-code-color__3 {
  background-color: #eeeef0;
}

.dress-code-color__4 {
  background-color: #e6d0d3;
}

.dress-code-color__5 {
  background-color: #f6e6e7;
}

.dress-code-color__6 {
  background-color: #d9bac0;
}

/* details */

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 64px;
}

/* form */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  background-color: var(--input-color);
  font-family: var(--main-font);
  border: none;
  border-bottom: 1px solid var(--input-accent-color);
  color: var(--accent-color);
  margin-bottom: 46px;
  padding: 16px;
  font-size: 16px;
  width: 100%;
}

.input::placeholder {
  font-size: 16px;
  color: var(--main-color);
}

input:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.form {
  display: flex;
  flex-direction: column;
}

.form-question {
  font-size: 16px;
  margin-bottom: 24px;
}

.label-radio {
  font-family: var(--main-font);
  font-size: var(--font-size-s);
  color: var(--main-color);
  line-height: 140%;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 16px;
}

.label-radio input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-radio {
  width: 24px;
  height: 24px;
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
}

.custom-radio::after {
  content: "";
  width: 10px;
  height: 10px;
  background: var(--accent-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s;
}

.label-radio input:checked + .custom-radio::after {
  transform: translate(-50%, -50%) scale(1);
}

.label-radio-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 46px;
}

.form-button {
  cursor: pointer;
  transition: opacity 0.3s;
}

.form-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.form-text {
  padding-top: 46px;
  text-align: center;
  line-height: 140%;
}

.toast {
  position: fixed;
  top: 20px;
  left: 50%;

  padding: 16px 46px;

  white-space: nowrap;

  opacity: 0;
  transform: translate(-50%, -20px);
  pointer-events: none;

  transition: 0.35s;
}

.toast.show {
  opacity: 1;
  transform: translate(-50%, 0);
}

.toast-success {
  background: var(--accent-color);
  color: var(--background-color);
}

.toast-error {
  background: var(--error-color);
  color: var(--background-color);
}

/* image-full */

.image-full {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* contacts */

.contacts-container a {
  text-decoration: none;
}

.contacts-container {
  padding-bottom: 64px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* mark */

.mark-container {
  padding-bottom: 64px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* date */

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
  gap: 10px;
}
